<div class="submit-form container" >
  <div *ngIf="!submitted">
    <h3 class="text-center mt-4 mb-4"> Listado de Planes de Membresía</h3>

    <div class="col-2">
      <a class="btn btn-warning" routerLink="/planespost" >Nuevo Plan de Membresia</a>
    </div>
</div>
    <div class="col-md-12 p-2">
      <table class="table">

      <thead >
            <tr class="table-dark">
                <th >Código</th>
                <th >Nombre de Plan</th>
                <th >Duración</th>
                <th >Tiempo</th>
                <th >Precio</th>
                <th >Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of listplanes">
              <td>{{item.planesId}}</td>
              <td>{{item.nombreplan}}</td>
              <td>{{item.tiempo}}</td>
              <td>{{item.diaMes}}</td>
              <td>{{item.precio}}</td>
              <td>
                  <button type="button" class="btn btn-warning" routerLink="/planesput" ata-bs-toggle="modal" data-bs>Editar
                  </button>
                  &nbsp;
                  <button type="button" class="btn btn-danger" (click)="delete(item)" >Eliminar</button>
              </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>



